.modal-hidden {
    display: none;
}

.modal-header-custom {
    border: none;
    border-radius: 12px 12px 0px 0px;
}

.modal-content-custom {
    border: none;
}

.modal-footer-custom {
    border: none;
    border-radius: 0px 0px 12px 12px;
}